@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
  height: 300vh;
  overscroll-behavior: none;
  margin: 0;
  width: 100%;
  background: red;
}

#logo-mask {
  background: white;
  mask-image: url("/asteriscos-milfshakes.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: clamp(2000vh, 1500%, 0vh);
}

.noise-overlay {
  pointer-events: none;
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.07) 1.5px,
      transparent 2.5px
    ),
    radial-gradient(circle, rgba(0, 0, 0, 0.07) 1.5px, transparent 2.5px);
  background-position: 0 0, 20px 20px;
  background-size: 40px 40px;
  opacity: 0.35; /* sutil */
  mix-blend-mode: overlay;
  animation: noiseMove 10s linear infinite;
}

@keyframes noiseMove {
  0% {
    background-position: 0 0, 25px 25px;
  }
  100% {
    background-position: 50px 50px, 75px 75px;
  }
}
